.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.authBox {
  position: relative;
  width: 450px;
  /* height: 500px; */
  backdrop-filter: blur(25px);
  /* border: 4px solid var(--black-color); */
  border-radius: 25px;
  /* padding: 7.5em 2.5em 4em 2.5em; */
  color: var(--second-color);
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}
.authBox::before {
  content: '';
  position: absolute;
  width: 450px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #fe03f6, #fe03f6);
  top: -50%;
  left: -50%;
  transform-origin: bottom right;
  animation: anime 7s linear infinite;
}
.authBox::after {
  content: '';
  position: absolute;
  width: 450px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #2376f5, #2376f5);
  top: -50%;
  left: -50%;
  transform-origin: bottom right;
  animation: anime 7s linear infinite;
  animation-delay: 3s;
}

@keyframes anime {
  100% {
    transform: rotate(360deg);
  }
}
.form {
  position: absolute;
  inset: 3px;
  /* background: #24232a; */
  background: #030a1b;
  border-radius: 25px;
  z-index: 10;
  padding: 50px 40px;
}
/**/
.authHeader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  width: 140px;
  height: 70px;
  border-radius: 0 0 20px 20px;
}

.headerSpan {
  font-size: 30px;
  color: var(--black-color);
}

.authHeader::before {
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background: transparent;
  box-shadow: 15px 0 0 0 var(--primary-color);
}

.authHeader::after {
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  border-top-left-radius: 50%;
  background: transparent;
  box-shadow: -15px 0 0 0 var(--primary-color);
}

.inputBox {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.inputField {
  width: 100%;
  height: 55px;
  font-size: 16px;
  background: transparent;
  color: var(--second-color);
  padding-inline: 20px 50px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  outline: none;
}

.label {
  position: absolute;
  top: 15px;
  left: 20px;
  transition: 0.2s;
}
.inputField:focus {
  border: 2px solid #fe03f6;
}

.inputField:focus ~ .label,
.inputField:valid .label {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--black-color);
  padding: 0 10px;
}

.icon {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
}

.rememberForgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.submitBtn {
  width: 100%;
  height: 50px;
  background: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  color: var(--black-color);
}
.submitBtn:hover {
  background: var(--second-color);
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px;
  }

  .loginBox {
    padding: 7.5em 1.5em 4em 1.5em;
  }
}
