.card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.card .poster {
  position: relative;
  overflow: hidden;
}

.card .poster::before {
  content: '';
  position: absolute;
  bottom: -180px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #1064a6 50%, transparent 100%);
  transition: 0.5s;
  z-index: 1;
}

.card:hover .poster::before {
  bottom: 0;
}

.card .poster img {
  width: 100%;
  transition: 0.5s;
}

.card:hover .poster img {
  transform: translateY(-50px);
  filter: blur(5px);
}

.card .details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  z-index: 2;
  transition: 0.5s;
}

.card:hover .details {
  bottom: 40px;
}

.card .details .logo {
  max-width: 180px;
}

.card .details h3 {
  font-size: 14px;
  color: #fff;
}

.card .details .rating {
  /* position: relative; */
  /* padding: 5px 0; */
}
