.card-skeleton {
  position: relative;
  background: linear-gradient(90deg, #f0f0f0 25%, #d9d9d9 50%, #f0f0f0 60%);
  background-size: 200% 100%;
  width: 100%;
  height: 100%;
  /*width: 237px;*/
  /*height: 360px;*/
  border-radius: 24px;
  overflow: hidden;
  animation: shimmer 1.5s infinite linear;
}
.dark .card-skeleton {
  position: relative;
  background: linear-gradient(90deg, #2b2b2b 25%, #404040 50%, #2b2b2b 60%);
  background-size: 200% 100%;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
  animation: shimmer 1.5s infinite linear;
}

.card-skeleton .details-skeleton {
  position: absolute;
  bottom: -5px;
  left: 0;
  padding: 15px;
  width: 100%;
  z-index: 4;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.skeleton {
  background: linear-gradient(90deg, #a0a0a0 25%, #808080 50%, #a0a0a0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
}

.dark .skeleton {
  background: linear-gradient(90deg, #3a3a3a 25%, #555555 50%, #3a3a3a 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
}
@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.text-skeleton {
  animation: text-loading 1.5s infinite linear;
}

@keyframes text-loading {
  0% {
    color: #4a4a4d;
  }
  50% {
    color: #6e6e6e;
  }
  100% {
    color: #4a4a4d;
  }
}
.skeleton-slider {
  background: linear-gradient(90deg, #c0c0c0 25%, #a0a0a0 50%, #c0c0c0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading-slider 1.5s infinite linear;
}

.dark .skeleton-slider {
  background: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 50%, #2a2a2a 75%);
  background-size: 200% 100%;
  animation: skeleton-loading-slider 1.5s infinite linear;
}

@keyframes skeleton-loading-slider {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
