@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ebfaff;
  --second-color: #d0d0d0;
  --black-color: #030a1b;

  /* card */
  --card-background: #1e1e1e;
  --card-primary-color: #03f2f8;
  --card-secondary-color: #03a8f5;
  --card-text-color: #ebf0ff;
  --card-accent-color: #ff5722;
  --card-hover-scale: 1.02;
  --card-transition-speed: 0.3s;
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-[1440px] !important;
  }

  .center-flex {
    @apply flex items-center justify-between;
  }

  .custom-flex-1 {
    @apply flex items-center;
  }

  /* themes */
  .main-themes {
    @apply bg-bgdark dark:bg-bglight;
  }

  .themes {
    @apply bg-bglight text-bgdark dark:bg-bgdark dark:text-bglight;
  }

  .second-themes {
    @apply bg-main-deepCerise-500 dark:bg-main-summerSky-500;
  }
  .third-themes {
    @apply bg-main-summerSky-100 dark:bg-gray-900;
  }

  .fourth-themes {
    @apply bg-main-aliceBlue-500/70 dark:bg-gray-950;
  }
  .border-themes {
    @apply border-bgdark/40 dark:border-bglight/20;
  }
  .border-themes-2 {
    @apply border-main-deepCerise-350 dark:border-main-summerSky-400;
  }

  .shadow-custom {
    @apply shadow-[0px_0px_10px_3px] shadow-main-deepCerise-400/40 dark:shadow-cyan-600/50;
  }

  /* header */

  .header {
    @apply bg-gradient-to-r from-main-summerSky-200 via-main-summerSky-300 to-main-summerSky-600 dark:bg-gradient-to-r dark:from-bgdark dark:via-main-darkGreen-600 dark:to-main-darkGreen-400;
  }

  /* section Carousel */
  .text-custom-blur {
    @apply text-bgdark/70 dark:text-bglight/70;
  }
  .text-custom {
    @apply text-bgdark dark:text-bglight;
  }
  /* SideInfo */
  .text-custom-2 {
    @apply text-[#8c2445] dark:text-[#82b0da];
  }
  .text-custom-3 {
    @apply font-bold text-[#7a1785] dark:text-yellow-500;
  }

  .hover-text {
    @apply transition duration-300 hover:text-bglight dark:hover:text-bgdark;
  }

  .carouselBtn {
    @apply center-flex gap-2 rounded-full px-3 py-2 font-mono text-sm transition duration-300 hover:border-semantic-springGreen hover:bg-gradient-to-r imac:px-4 imac:py-3;
  }

  .bounce-effect {
    @apply transition-all duration-150 ease-in-out hover:-translate-y-0.5 active:translate-y-0.5;
  }
}

/* Authentication */
.authlight {
  background: linear-gradient(
    234deg,
    rgba(162, 184, 189, 1) 0%,
    rgba(142, 195, 221, 1) 50%,
    rgba(89, 107, 148, 1) 100%
  );
}

.authdark {
  background: radial-gradient(
    circle,
    rgba(75, 50, 118, 1) 0%,
    rgba(31, 17, 68, 1) 50%,
    rgba(6, 10, 19, 1) 100%
  );
}

/* Carousel */
/* Slider */
.dark .tw-black-backdrop {
  background: linear-gradient(to left, transparent, rgba(3, 10, 27, 0.75) 65%);
}
.tw-light-backdrop {
  background: linear-gradient(
    to left,
    transparent,
    rgba(235, 250, 255, 0.5) 65%
  );
}
