/* Trending Now button ngày tuần tháng */
.trending-button {
  position: relative;
  color: rgb(165, 165, 165);
  border: 1px solid #1b2b3a;
  background: #111720;
  padding: 3px 5px;
  float: left;
}

.trending-button::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid; /* Đặt màu cho tam giác */
  opacity: 0; /* Ẩn tam giác */
  transition: opacity 0.1s ease-in-out; /* Animation cho tam giác */
  color: #ff00cc;
}

.activetrending {
  background: #1b2a39;
  /* border: 1px solid #1b2a3900; */
  border: 1px solid transparent;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    #ff00cc 0%,
    #333399 51%,
    #ff00cc 100%
  );
  border-top-left-radius: 3px;
  color: rgb(250, 245, 245);
  opacity: 1;
}
.activetrending::after {
  opacity: 1;
}
